.App {
  text-align: center;
}

.App-header {
  background-color: #131711;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.message{
  padding: 0.5em;
  border-radius: 0.2em;
}

.message--success{
  border: 1px #4CAF50 solid;
  color: #4CAF50;
}

.message--error{
  border: 1px #af4c4c solid;
  color: #af4c4c;
}

.results{
  padding: 0.5em;
  margin: 1em 0;
}
